html { font-size: 100%; }
* { box-sizing: border-box }

body {
    background: #262626;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

div.title {
    background: #191919;
    overflow: hidden;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 70px;
}

div.title h1 {
    font-size: 443%;
    margin: 0;
    color: #e6e8e6;
}

div.title small {
    font-size: 120%;
    color: #f15025;
}

div.content {
    overflow: hidden;
    display: block;
    max-width: 980px;
    margin: auto;
    padding-top 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

div.post {
    border-radius: 6px;
    border: 2px solid #333;
    box-shadow: 2px 2px 5px #0d0d0d;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin: auto;
}

div.posttitle {
    font-size: 200%;
    color: #f15025;
    text-align: center;
}

div.postcontent {
    padding: 10px;
    font-size: 120%;
    color: #e6e8e6;
    text-align: left;
}

div.postfooter {
    text-align: left;
    font-size: 100%;
    color: #ced0ce;
}

@media screen and (max-width: 980px) {
    div.post {
	width: auto;
    }
}
