{{ define "content" }}
	{{ $logged := .LoggedIn }}
	<a class="header_link" href="/">
		<div class="header" id="home">
			<div class="web_title">
				<span id="web_title_text">Letters From the Other Side</span><br>
				<span id="web_subtitle">The Mailbox Has Been Discovered</span>
			</div>
		</div>
	</a><br><br><br>
	{{ range .Posts }}
		<div class="container">
			<div class="title" id="{{ .ID }}">
				<a href="/show/{{ .ID }}" class="title">{{ .Title }}</a>
			</div><div class="content">
				{{ .Content }}
			</div><div class="post_footer">
				Date Posted: {{ .Date }}<a class="footer" href="/">Back to Top</a>
				{{if $logged}}
					<br><a class="edit" href="/edit/{{ .ID }}">Edit</a>
					<br><a class="edit" href="/delete/{{ .ID }}">Delete</a>
				{{end}}
			</div></div>
			<br>
	{{ end }}
{{ end }}
