{{ define "content" }}
	{{ $logged := .LoggedIn }}
	{{ if $logged }}
		<div class="container">
			<form action="/new" method="post" obsubmit="return postContent()">
			<div class="title">
				<label>Title: </label>
				<input type="text" name="title" style="background:rgba(0,0,0,0);outline:none;"/><br>
			</div><br>
			<textarea id="summernote" class="content" name="content"></textarea><br>
			<div class="post_footer">
				<input type="submit" value="Submit" name="submit"/>
			</div>
			</form>
		</div>
	{{ else }}
		<a href="/login">LogIn</a>
	{{ end }}
{{ end }}
