{{ define "header" }}
<title>
    OtherLetters : Letters from the other side
</title>
<link rel="stylesheet" href="/static/css/base.css">
<script type="text/javascript" src="/static/js/base.js"></script>
<meta content='width=device-width, initial-scale=1' name='viewport'/>
{{ end }}
