{{ define "content" }}
<div class="title">
    <h1>{{ Config.Title }}</h1>
    <small>{{ Config.Subtitle }}</small>
</div>
<div class="content">
    {{ range Payload }}
	<div class="posttitle" id="{{ .ID }}">
	    {{ .Title }}
	</div>
	<div class="postcontent">
	    {{ .Content }}
	</div>
	<div class="postfooter">
	    Date Posted: {{ .Time }} {{ .Date }}
	</div>
	<br>
    {{ end }}
</div>
{{ end }}
